/* styles.css */

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header div:first-child {
    float: left;
    color: #038420;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

header div:last-child {
    float: right;
}

.nav-item {
    margin: 0 10px;
}

button.btn-light {
    background-color: #038420;
}
