/* styles.css */

header {
    background-color: #2a2929;
    color: white;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div:first-child {
    float: left;
    color: #038420;
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

header div:last-child {
    float: right;
}

.nav-item {
    margin : 5px 15px;
}

.hoverL {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s; /* Ajout d'une transition de couleur sur 0.3 seconde */
}

.hoverL:hover {
    color: #cccccc;
    text-decoration: none;
}

.numero {
    margin-right: 50px;
}

button.btn-light {
    background-color: #038420;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.description-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px; /* Ajout d'un espace entre le header et la section de description */
    margin-left: 400px;
    margin-right: 400px;
}

.description-title {
    color: #038420;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px; /* Ajout d'un espace entre les titres et les textes */
}

.description-content {
    color: #555;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
}

footer {
    background-color: #2a2929;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #038420;
    font-family: Inter;
    font-size: 50px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}



.image{
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.text-overlay {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
}


